* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	color: #111;
	background: white;
}
.product {
	display: grid;
	grid-template-columns: 1.1fr 0.9fr;
	gap: 60px;
	margin-bottom: 70px;
}
.gallery {
	display: grid;
	grid-template-columns: 90px 1fr;
	gap: 15px;
}
.thumbnails {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.thumbnails img {
	width: 90px;
	height: 100px;
	object-fit: cover;
	border-radius: 12px;
	background: #f2f2f2;
}
.main-image {
	height: 560px;
	background: #f3f3f3;
	border-radius: 18px;
	position: relative;
	overflow: hidden;
}
.main-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.sale {
	position: absolute;
	top: 20px;
	left: 20px;
	background: #111;
	color: white;
	padding: 8px 13px;
	border-radius: 20px;
	font-size: 12px;
}
.category {
	color: #777;
	font-size: 12px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.product-info h1 {
	font-size: 45px;
	margin-bottom: 15px;
}
.rating {
	margin-bottom: 20px;
}
.rating small {
	color: #777;
}
.price {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}
.price strong {
	font-size: 30px;
}
.price del {
	color: #999;
	font-size: 20px;
}
.price span,
.discount {
	color: #e44;
	background: #ffecec;
	padding: 6px 10px;
	border-radius: 20px;
	font-size: 12px;
}
.description {
	color: #666;
	line-height: 1.7;
	font-size: 14px;
}
hr {
	border: none;
	border-top: 1px solid #eee;
	margin: 25px 0;
}
.option {
	margin-bottom: 25px;
}
.option h3 {
	font-size: 14px;
	margin-bottom: 12px;
}
.sizes {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}
.sizes button {
	border: none;
	background: #f3f3f3;
	padding: 12px 20px;
	border-radius: 25px;
	cursor: pointer;
}

.sizes .active {
	background: #111;
	color: white;
}
.colors {
	display: flex;
	gap: 12px;
}
.colors button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2px solid white;
	outline: 1px solid #ccc;
	cursor: pointer;
}
.blue {
	background: #146487;
}
.black {
	background: #111;
}
.white {
	background: white;
}
.buy-section {
	display: flex;
	gap: 12px;
	margin-top: 30px;
}
.quantity {
	width: 135px;
	background: #f3f3f3;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.quantity button {
	border: none;
	background: none;
	font-size: 22px;
	cursor: pointer;
}
.cart-btn {
	flex: 1;
	background: #111;
	color: white;
	border: none;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
}

.cart-btn:hover {
	opacity: 0.8;
}
.benefits {
	margin-top: 30px;
	border: 1px solid #eee;
	border-radius: 15px;
	padding: 5px 15px;
}
.benefits > div {
	display: flex;
	gap: 15px;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}
.benefits > div:last-child {
	border-bottom: none;
}
.benefits small {
	display: block;
	color: #777;
	margin-top: 4px;
}
.details {
	margin-bottom: 70px;
}
.tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-bottom: 1px solid #ddd;
}
.tabs button {
	background: white;
	border: none;
	padding: 18px;
	color: #777;
	cursor: pointer;
}
.tabs .selected {
	color: #111;
	border-bottom: 2px solid #111;
	font-weight: bold;
}
.details-content {
	padding: 30px 0;
}
.details-content h2 {
	margin-bottom: 10px;
}
.details-content p {
	color: #666;
	margin-bottom: 20px;
}
.features {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	color: #555;
}
.reviews {
	margin-bottom: 70px;
}
.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}
.section-title button {
	border: none;
	background: #f3f3f3;
	padding: 12px 20px;
	border-radius: 25px;
}
.review-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
}
.review-card {
	border: 1px solid #eee;
	padding: 22px;
	border-radius: 15px;
}
.review-card h3 {
	margin: 12px 0;
}
.review-card p {
	color: #666;
	line-height: 1.6;
	margin-bottom: 15px;
}
.recommendations {
	margin-bottom: 80px;
}
.recommendations h2 {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-size: 30px;
}
.product-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 18px;
	padding: 20px 100px;
}
.card-image {
	background: #f4f4f4;
	border-radius: 15px;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	position: relative;
}
.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.card:hover .card-image img {
	transform: scale(1.05);
}

.card h3 {
	font-size: 14px;
	margin-bottom: 8px;
}
.stars {
	font-size: 12px;
	margin-bottom: 8px;
}
.stars small {
	color: #777;
}
.card strong {
	font-size: 16px;
}
.card del {
	color: #999;
	margin-left: 5px;
}
@media (max-width: 850px) {
	nav {
		display: none;
	}
	.product {
		grid-template-columns: 1fr;
	}
	.review-grid {
		grid-template-columns: 1fr;
	}
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 550px) {
	.header {
		height: 70px;
	}
	.logo {
		font-size: 22px;
	}
	.product-info h1 {
		font-size: 34px;
	}
	.gallery {
		grid-template-columns: 65px 1fr;
	}
	.thumbnails img {
		width: 65px;
		height: 70px;
	}
	.main-image {
		height: 390px;
	}
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	.card-image {
		height: 180px;
	}
	.tabs {
		grid-template-columns: 1fr;
	}
	.section-title {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
}
